$bg-color: #6b6a71;
$bg-color-hover: #932f27;

.gradBtn {
    --bdr-color: #bdb7c2;
    --bdr-color-hover: #cf4a2a;

    position: relative;
    padding: 6px 25px 8px 25px;

    font-weight: 600;
    font-size: 18px;
    text-align: center;

    border: 1px solid var(--bdr-color);
    border-radius: 6px;
    background: linear-gradient(
            180deg,
            rgba($bg-color, 0.05) 0%,
            rgba(255, 255, 255, 0) 20.5%,
            rgba(255, 255, 255, 0) 50%,
            rgba(255, 255, 255, 0) 80%,
            rgba($bg-color, 0.05) 100%
        ),
        linear-gradient(
            270deg,
            rgba($bg-color, 0.3) 0%,
            rgba(255, 255, 255, 0.1) 5%,
            rgba(255, 255, 255, 0) 50%,
            rgba(255, 255, 255, 0.1) 95%,
            rgba($bg-color, 0.3) 100%
        );

    transition: all 0.1s ease-in;

    &--wide {
        min-width: 170px;
    }

    &:hover {
        border: 1px solid var(--bdr-color-hover);
        background: linear-gradient(
                180deg,
                rgba($bg-color-hover, 0.05) 0%,
                rgba($bg-color-hover, 0) 20.5%,
                rgba($bg-color-hover, 0) 50%,
                rgba($bg-color-hover, 0) 80%,
                rgba($bg-color-hover, 0.05) 100%
            ),
            linear-gradient(
                270deg,
                rgba($bg-color-hover, 0.3) 0%,
                rgba($bg-color-hover, 0.1) 5%,
                rgba($bg-color-hover, 0) 50%,
                rgba($bg-color-hover, 0.1) 95%,
                rgba($bg-color-hover, 0.3) 100%
            );
    }

    &--loading {
        opacity: 0.7;
    }
}

.gradBtn__loader {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 28%;

    width: 18px;
    height: 18px;

    border: 2px solid;
    border-color: #fff transparent;
    border-radius: 50%;
    animation: rotation 1.1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
